<ng-container *ngIf="fieldValue.$ref; else simpleValueInput">
  <div class="mt-3">
    <label [for]="fieldKey" class="form-label">{{
      fieldKey | camelCase
    }}</label>
    <select
      [id]="fieldKey"
      class="form-select form-select-md"
      [name]="fieldKey"
      [ngModel]="paramModelValue"
      #param="ngModel"
      ngModel
    >
      <option *ngFor="let ref of bodyRef" [ngValue]="ref">
        {{ ref.id + ": " + (ref.name ?? "Código") }}
      </option>
    </select>
  </div>
</ng-container>
<ng-template [ngSwitch]="fieldValue.format" #simpleValueInput>
  <ng-container *ngSwitchCase="'int32'">
    <div class="mt-3">
      <label [for]="fieldKey" class="form-label">{{
        fieldKey | camelCase
      }}</label>
      <input
        type="number"
        [name]="fieldKey"
        [id]="fieldKey"
        class="form-control"
        [placeholder]="fieldValue.example"
        [ngModel]="paramModelValue"
        #param="ngModel"
        ngModel
        required
      />
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'text'">
    <div class="mt-3">
      <label for="texto" class="form-label">{{ fieldKey | camelCase }}</label>
      <textarea
        #param="ngModel"
        [name]="fieldKey"
        [id]="fieldKey"
        cols="30"
        rows="5"
        [ngModel]="paramModelValue"
        class="form-control mb-3"
      ></textarea>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'binary'">
    <div class="mt-3">
      <label for="texto" class="form-label">{{ fieldKey | camelCase }}</label>
      <input
        type="file"
        [name]="'file_'+fieldKey"
        [id]="'file_'+fieldKey"
        class="form-control mb-3"
        ngModel
        #file
        (change)="handleFileInput(param, file, $event)"
      />
      <input type="hidden" [(ngModel)]="paramModelValue" #param="ngModel" [name]="fieldKey" [id]="fieldKey">
      <p>Link da imagem atual: <a [href]="paramModelValue" class="url-text-container" *ngIf="paramModelValue">{{ paramModelValue }}</a></p>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="mt-3">
      <label [for]="fieldKey" class="form-label">{{
        fieldKey | camelCase
      }}</label>
      <input
        class="form-control"
        type="text"
        #param="ngModel"
        ngModel
        [ngModel]="paramModelValue"
        [name]="fieldKey"
        [id]="fieldKey"
        required
      />
    </div>
  </ng-container>
</ng-template>
