<div class="container-fluid d-flex flex-column border rounded p-3 mt-3">
  <p class="lead mb-3 fw-bold">Frete:</p>
  <select
    [(ngModel)]="selectedShip"
    name="address"
    id="address"
    class="form-select form-select-md"
    (ngModelChange)="selectShipment(selectedShip)"
  >
    <option *ngFor="let shipper of shippers" [ngValue]="shipper">
      {{ shipper.name }}
    </option>
  </select>

  <div
    class="container-fluid d-flex flex-column border bg-light rounded mt-3 p-3"
  >
    <p class="lead fw-bold">Frete Selecionado:</p>
    <p class="lead">
      <span class="fw-bold"
        >Preço: R${{
          shipments[selectedShip.name].shippingPrice
            | number : "1.2-2" : "pt"
        }}</span
      >
    </p>
    <p class="lead">
      <span class="fw-bold"
        >Data de entrega estimada:
        {{ shipments[selectedShip.name].expectedDeliveryDate | date }}</span
      >
    </p>
  </div>
</div>
