.text-container {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-spacing {
  padding: 0;
  margin: 0;
}

.product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.red-heart-icon {
  color: red;
}

.pointer {
  cursor: pointer !important;
}

