<div
  *ngIf="!addresses.length || addingAddress"
  class="container-fluid d-flex flex-column border rounded mb-3 p-3"
>
  <div class="container-fluid d-flex justify-content-between no-spacing" >
    <p class="lead mb-4 fw-bold">Adicione um novo endereço!</p>
    <button *ngIf="addresses.length && addingAddress" class="btn btn-primary" (click)="enableAddressForm(false, 'closing')">Cancelar</button>
  </div>
  <form
    (submit)="
      verifyAndSendAddressForm(cep, street, state, filter)
    "
    class="form-group d-flex flex-column justify-content-between"
    id="form1"
  >
    <label class="fw-bold" for="cep">CEP:</label>
    <input
      class="form-control"
      type="text"
      name="CEP"
      id="cep"
      placeholder="xxxxx-xxx"
      [ngModel]="zipCode | zipCode"
      (ngModelChange)="zipCode = $event"
      #cep="ngModel"
      required
    />
    <label class="fw-bold" for="streetWithNumber">Rua e número:</label>
    <input
      name="Rua"
      type="text"
      placeholder="Rua dos Teste, 101"
      class="form-control"
      [(ngModel)]="streetWithNumber"
      #street="ngModel"
      required
    />
    <label class="fw-bold" for="UF">Estado:</label>
    <select
      [(ngModel)]="selectedState"
      (ngModelChange)="changeCities()"
      id="Estado"
      class="form-select form-select-md"
      name="UF"
      #state="ngModel"
      required
    >
      <option *ngFor="let state of states" [ngValue]="state">
        {{ state.nome }}
      </option>
    </select>
    <div class="dropdown">
      <label class="fw-bold" for="city">Cidade:</label>
      <input
        [(ngModel)]="selectedCity"
        name="Cidade"
        id="city-input"
        #filter="ngModel"
        (click)="dropDownService.showDropdownMenu(true)"
        (ngModelChange)="searchCities(selectedCity)"
        class="form-control mb-3"
        list="cities"
        placeholder="Selecione um estado primeiro"
        [disabled]="!selectedState"
      />
      <div
        class="container-fluid d-flex flex-column"
        *ngIf="dropDownService.showDropdown"
      >
        <app-dropdown (selectedItemEvent)="selectCity($event)"> </app-dropdown>
        <app-paginator [items]="filteredCities" [pageSize]="5"></app-paginator>
      </div>
    </div>
    <button type="submit" form="form1" class="btn btn-primary mt-3 w-25">
      Salvar
    </button>
  </form>
</div>

<div
  *ngIf="addresses.length && !addingAddress"
  class="container-fluid d-flex flex-column border rounded p-3 mb-3"
>
  <p class="lead mb-3 fw-bold">Endereço de entrega:</p>
  <select
    [(ngModel)]="selectedAddress"
    name="address"
    id="address"
    class="form-select form-select-md"
    #address="ngModel"
  >
    <option *ngFor="let address of addresses" [ngValue]="address">
      {{ address.city }}; {{ address.state }};
      {{ address.streetWithNumber }}
    </option>
  </select>

  <div
    class="container-fluid d-flex flex-column border bg-light rounded mt-3 p-3"
  >
    <p class="lead fw-bold">Endereço Selecionado:</p>
    <p class="lead">
      <span class="fw-bold">CEP: </span>{{ selectedAddress.zipCode | zipCode }}
    </p>
    <p class="lead">
      <span class="fw-bold">Rua: </span>{{ selectedAddress.streetWithNumber }}
    </p>
    <p class="lead">
      <span class="fw-bold">Cidade: </span>{{ selectedAddress.city }}
    </p>
    <p class="lead">
      <span class="fw-bold">Estado: </span>{{ selectedAddress.state }}
    </p>
  </div>
  <div
    class="address-buttons container-fluid d-flex justify-content-between mt-3"
  >
    <button class="btn btn-primary" (click)="enableAddressForm(true, 'creating')">
      Adicionar endereço
    </button>
    <div
      class="delete-update-buttons container-fluid d-flex justify-content-end"
    >
      <button class="btn btn-warning" (click)="enableEditingAddress(address.value)">Editar endereço</button>
      <button class="btn btn-danger" (click)="deleteAddress(address.value)">Deletar endereço</button>
    </div>
  </div>
</div>
