<div
  *ngIf="!addresses.length || addingAddress"
  class="container-fluid d-flex flex-column border rounded mb-3 p-3"
>
  <div class="container-fluid d-flex justify-content-between no-spacing">
    <p class="lead mb-4 fw-bold">Adicione um novo endereço!</p>
    <button
      *ngIf="addresses.length && addingAddress"
      class="btn btn-primary"
      (click)="enableAddressForm(false, 'closing')"
    >
      Cancelar
    </button>
  </div>
  <form
    name="form"
    ngNativeValidate
    #addressForm="ngForm"
    class="form-group d-flex flex-column justify-content-between"
  >
    <label class="fw-bold form-label mt-2" for="zipCode">CEP:</label>
    <input
      class="form-control"
      type="text"
      name="zipCode"
      id="cep"
      placeholder="_____-___"
      [ngModel]="cep | zipCode"
      (ngModelChange)="cep = $event"
      #zipCode="ngModel"
      required
    />
    <button (click)="fetchAddressFromZipCode(zipCode)" class="btn btn-primary w-25 my-3">Buscar endereço</button>
    <label class="fw-bold form-label mt-2" for="street">Rua:</label>
    <input
      name="street"
      type="text"
      id="street"
      placeholder="Rua dos Teste"
      class="form-control"
      #street="ngModel"
      ngModel
      required
    />
    <label class="fw-bold form-label mt-2" for="number">Número:</label>
    <input
      name="number"
      type="number"
      placeholder="101"
      class="form-control"
      #number="ngModel"
      ngModel
      required
    />
    <label class="fw-bold form-label mt-2" for="complement">Complemento:</label>
    <input
      name="complement"
      type="text"
      placeholder="Esquina com campo de futebol"
      class="form-control"
      #complement="ngModel"
      ngModel
      required
    />
    <label class="fw-bold form-label mt-2" for="uf">UF:</label>
    <input
      name="state"
      type="text"
      placeholder="SC"
      class="form-control"
      #state="ngModel"
      ngModel
      required
    />
    <label class="fw-bold form-label mt-2" for="city">Cidade:</label>
    <input
      name="city"
      id="city-input"
      #city="ngModel"
      ngModel
      class="form-control mb-3"
      placeholder="Joinville"
    />
    <button
      type="button"
      (click)="verifyAndSendAddressForm()"
      class="btn btn-primary mt-3 w-25"
    >
      Salvar
    </button>
  </form>
</div>

<div
  *ngIf="addresses.length && !addingAddress"
  class="container-fluid d-flex flex-column border rounded p-3 mb-3"
>
  <p class="lead mb-3 fw-bold">Endereço de entrega:</p>
  <select
    [(ngModel)]="selectedAddress"
    name="address"
    id="address"
    class="form-select form-select-md"
    #address="ngModel"
  >
    <option *ngFor="let address of addresses" [ngValue]="address">
      {{ address.city }}; {{ address.state }};
      {{ address.street }}
    </option>
  </select>

  <div
    class="container-fluid d-flex flex-column border bg-light rounded mt-3 p-3"
  >
    <p class="lead fw-bold">Endereço Selecionado:</p>
    <p class="lead">
      <span class="fw-bold">CEP: </span>{{ selectedAddress.zipCode | zipCode }}
    </p>
    <p class="lead">
      <span class="fw-bold">Rua: </span>{{ selectedAddress.street }}
    </p>
    <p class="lead">
      <span class="fw-bold">Número: </span>{{ selectedAddress.number }}
    </p>
    <p class="lead">
      <span class="fw-bold">Cidade: </span>{{ selectedAddress.city }}
    </p>
    <p class="lead">
      <span class="fw-bold">Estado: </span>{{ selectedAddress.state }}
    </p>
  </div>
  <div
    class="address-buttons container-fluid d-flex justify-content-between mt-3"
  >
    <button
      class="btn btn-primary"
      (click)="enableAddressForm(true, 'creating')"
    >
      Adicionar endereço
    </button>
    <div
      class="delete-update-buttons container-fluid d-flex justify-content-end"
    >
      <button
        class="btn btn-warning"
        (click)="enableEditingAddress(address.value)"
      >
        Editar endereço
      </button>
      <button class="btn btn-danger" (click)="deleteAddress(address.value)">
        Deletar endereço
      </button>
    </div>
  </div>
</div>
