<body>
  <div
    *ngIf="favorites.length > 0; else noFavorites"
    class="container-fluid d-flex flex-column align-items-center"
  >
    <h3 class="display-3 my-5">Meus Favoritos</h3>

    <!-- <div class="container-fluid w-75 d-flex"> -->
    <ul class="container-fluid w-75 list-group">
      <li class="list-group-item" *ngFor="let favorite of favorites">
        <div
          class="container-fluid d-flex align-items-center justify-content-around"
        >
          <img
            class="img-small"
            [src]="favorite.product.productImage"
            [alt]="favorite.product.name"
          />
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <p class="lead fw-bold">{{ favorite.product.name }}</p>
            <p class="lead">
              Preço unitário: R$
              {{ favorite.product.price | number : "1.2-2" : "pt" }}
            </p>
            <p *ngIf="favorite.product.discount < 1" class="lead">
              Desconto:
              {{
                (1 - favorite.product.discount) * 100 | number : "1.2-2" : "pt"
              }}%
            </p>
            <div
              class="container-fluid d-flex justify-content-between align-items-center"
            >
              <button class="w-75 btn btn-primary p-1">Comprar</button>
              <fa-icon
                [icon]="faHeart"
                class="red-heart-icon"
                size="lg"
                (click)="unfavorite(favorite)"
              ></fa-icon>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noFavorites>
    <div
      class="container-fluid d-flex flex-column align-items-center justify-content-center mid-screen"
    >
      <h1 class="display-3">Nenhum produto favoritado ainda!</h1>
      <button
        class="btn btn-primary btn-lg px-5 py-3 mt-3"
        (click)="goToDashboard()"
      >
        Volte às compras!
      </button>
    </div>
  </ng-template>
  <!-- </div> -->
</body>
