<body>
  <div
    *ngIf="empty"
    class="container-fluid d-flex flex-column justify-content-center align-items-center w-75 mt-5"
  >
    <h3 class="display-3 mb-3">Meu Carrinho</h3>
    <app-address class="container-fluid no-spacing"></app-address>
    <app-cart-product
      class="container-fluid no-spacing"
      (cartOrder)="cartOrder($event)"
      [user]="user"
    ></app-cart-product>
    <app-shipping
      class="container-fluid no-spacing"
      [order]="order"
      (selectedShipment)="selectShipment($event)"
    ></app-shipping>
    <div class="container-fluid d-flex">
      <div class="container-fluid d-flex flex-column border rounded p-3 mt-3">
        <p class="lead mb-3 fw-bold">Resumo:</p>
        <p class="lead">
          Total produtos: R$ {{ order.totalPrice | number : "1.2-2" : "pt" }}
        </p>
        <p class="lead">
          Frete: R$
          {{ shipment.shippingPrice | number : "1.2-2" : "pt" }}
        </p>
        <p class="lead fw-bold">
          Total do pedido: R$
          {{
            order.totalPrice + shipment.shippingPrice | number : "1.2-2" : "pt"
          }}
        </p>
        <button
          class="btn w-25 btn-primary fw-bold lead mb-3"
          (click)="finishOrder()"
        >
          Finalizar Compra
        </button>
        <button
          class="btn w-25 btn-outline-primary fw-bold"
          (click)="goToDashboard()"
        >
          Voltar às compras
        </button>
      </div>
    </div>
  </div>
</body>
