<body>
  <div
    *ngIf="hasProducts; else emptyCart"
    class="container-fluid d-flex flex-column justify-content-center align-items-center w-75 mt-5"
  >
    <h3 class="display-3 mb-3">Meu Carrinho</h3>
    <app-address [user]="user" class="container-fluid"></app-address>
    <app-cart-product
      class="container-fluid"
      [user]="user"
      [cart]="cart"
      [enableEditing]="true"
    ></app-cart-product>
    <app-shipping
      class="container-fluid"
      [order]="cart.order"
      (selectedShipment)="selectShipment($event)"
    ></app-shipping>
    <app-cart-summary class="container-fluid" [cart]="cart" [shipment]="shipment"></app-cart-summary>
  </div>


<!-- Se carrinho estiver vazio -->
  <ng-template #emptyCart>
    <div
      class="container-fluid d-flex flex-column align-items-center justify-content-center mid-screen"
    >
      <h1 class="display-3">Carrinho Vazio!</h1>
      <button
        class="btn btn-primary btn-lg px-5 py-3"
        (click)="goToDashboard()"
      >
        Volte às compras!
      </button>
    </div>
  </ng-template>
</body>
