<body>

  <div class="container-fluid w-75 d-flex flex-column justify-content-center align-items-center mt-5">
    <h6 class="display-5 mt-3 mb-4">Destaques</h6>
    <div class="container-fluid d-flex justify-content-around align-items-center">
      <ul *ngFor="let product of products" class="product">
      <div class="card">
        <img [src]="product.productImage" [alt]="product.name" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a (click)="goToDetail(product)" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </ul>
  </div>

  <h6 class="display-5 mt-3 mb-4">Departamentos</h6>
  <div class="container-fluid d-flex justify-content-around align-items-center">
    <ul *ngFor="let category of categories" class="product">
      <div class="card">
        <!-- <img [src]="product.productImage" [alt]="product.name" class="card-img-top"> -->
        <div class="card-body">
          <h5 class="card-title text-center">{{ category.name }}</h5>
          <!-- <p class="card-text">{{ product.description }}</p> -->
          <!-- <a routerLink='' class="btn btn-primary">Comprar</a> -->
        </div>
      </div>
    </ul>
  </div>
</div>

</body>
