<body>

  <div class="container-fluid w-75 d-flex flex-column justify-content-center align-items-center mt-5">
    <h6 class="display-5 mt-3 mb-4">Destaques</h6>
    <div class="container-fluid d-flex justify-content-around align-items-center flex-wrap">
      <div *ngFor="let product of products" class="product mt-3">
        <app-product-card [product]="product"></app-product-card>
      </div>
  </div>

  <h6 class="display-5 mt-3 mb-4">Departamentos</h6>
  <div class="container-fluid d-flex justify-content-around align-items-center flex-wrap">
    <li *ngFor="let category of categories" class="product my-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center pointer" (click)="goToSearchProducts(category.name)">{{ category.name }}</h5>
        </div>
      </div>
    </li>
  </div>
</div>

</body>
