<ng-container
  *ngIf="paramMap.get(parameter.name) !== undefined; else simpleParameterInput"
>
  <div class="mt-3">
    <label [for]="parameter.name" class="form-label">{{
      parameter.name | camelCase
    }}</label>
    <select
      [id]="'param_' + parameter.name"
      class="form-select form-select-md"
      [name]="'param_' + parameter.name"
      #param="ngModel"
      (ngModelChange)="setSelectedParamModel(param); setFormControl(param)"
      ngModel
      required
    >
      <!-- Uso ref.id porque é de certeza que na api o atributo de identificação é id pra todas as entidades -->
      <option *ngFor="let param of paramList" [ngValue]="param">
        {{ param.id + ": " + (param.name ?? "Código") }}
      </option>
    </select>
  </div>
</ng-container>
<ng-template #simpleParameterInput>
  <ng-container
    *ngIf="parameter.schema.type === 'integer'; else stringParameterInput"
  >
    <label [for]="'param_' + parameter.name" class="form-label">{{
      parameter.name | camelCase
    }}</label>
    <input
      class="form-control"
      type="number"
      #param="ngModel"
      (ngModelChange)="setFormControl(param)"
      ngModel
      [name]="'param_' + parameter.name"
      [id]="'param_' + parameter.name"
      required
    />
  </ng-container>
  <ng-template #stringParameterInput>
    <label [for]="'param_' + parameter.name" class="form-label">{{
      parameter.name | camelCase
    }}</label>
    <input
      class="form-control"
      #param="ngModel"
      (ngModelChange)="setFormControl(param)"
      ngModel
      type="text"
      [name]="'param_' + parameter.name"
      [id]="'param_' + parameter.name"
      required
    />
  </ng-template>
</ng-template>
