<div class="container-fluid d-flex flex-column border rounded p-3 mt-3">
  <ng-template #noShipping>
    <p class="lead fw-bold mt-3">Resumo indisponível: Por favor confirme o pedido para visualizar.</p>
  </ng-template>
  <ng-container *ngIf="(shipment != null && shipment != undefined); else noShipping">
    <p class="lead mb-3 fw-bold">Resumo:</p>
    <p class="lead">
      Total produtos: R$
      {{ orderTotalPrice() - shipment.shippingPrice | number : "1.2-2" : "pt" }}
    </p>
    <div class="shipment">
      <p class="lead">
        Frete ({{ shipment.shipper.name }}): R$
        {{ shipment.shippingPrice | number : "1.2-2" : "pt" }}
      </p>
    </div>
    <ng-container *ngIf="order.closed">
      <p *ngIf="shipment.delivered; else notDelivered" class="lead">
        Entregue em: {{ shipment.expectedDeliveryDate }}
      </p>
      <ng-template #notDelivered>
        <p class="lead">Entrega em andamento!</p>
      </ng-template>
    </ng-container>
    <p class="lead fw-bold">
      Total do pedido: R$
      {{ orderTotalPrice() | number : "1.2-2" : "pt" }}
    </p>
    <div *ngIf="!order.closed" class="d-flex flex-column">
      <button
        class="btn w-25 btn-primary fw-bold lead mb-3"
        (click)="finishOrder()"
      >
        Finalizar Compra
      </button>
      <button
        class="btn w-25 btn-outline-primary fw-bold"
        (click)="goToDashboard()"
      >
        Voltar às compras
      </button>
    </div>
  </ng-container>
</div>
