<div
  class="container-fluid d-flex justify-content-center flex-column border rounded my-3 p-3"
>
  <p class="lead fw-bold">Descrição:</p>
  <p class="lead">{{ method.description }}</p>

  <form
    ngNativeValidate
    #requestForm="ngForm"
    id="requestForm"
    (ngSubmit)="submitForm(method.operationId, requestForm)"
    class="form-group"
  >
    <ng-container *ngIf="hasParameters">
      <p class="lead fw-bold">Parâmetros</p>
      <ng-container *ngFor="let parameter of method.parameters">
        <app-parameter-input
          [chosenService]="chosenService"
          [operation]="method.operationId"
          [parameter]="parameter"
          [tag]="tag"
          [form]="requestForm"
          [changedRefs]="changeParamsRef"
          (chosenParam)="setSelectedParamModel($event)"
        ></app-parameter-input>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="hasRequestBody">
      <p class="lead fw-bold">Corpo da requisição</p>
       <ng-container
        *ngFor="
          let field of requestBody.properties | keyvalue : originalOrder;
          let i = index
        "
      >
      <app-request-body-input (disableSubmitButton)="setDisableSubmitButton($event)" [form]="requestForm" [fieldKey]="field.key" [fieldValue]="field.value" [selectedParamModel]="selectedParamModel"></app-request-body-input>
      </ng-container>
    </ng-container>
    <button class="btn btn-primary w-25 mt-3" type="submit" form="requestForm" [disabled]="disableButton">
      Enviar
    </button>
  </form>
  <div class="container-fluid d-flex flex-column mt-5">
    <app-admin-request-response
      [operationReturnData$]="operationReturnData$"
    ></app-admin-request-response>
  </div>
</div>
